label {
  font-weight: 300;
}
.header {
  text-align: center;
  color: #777;
}
.header > h1 {
  color: #046380;
  letter-spacing: 2px;
}
.stars {
  min-width: 100px;
}
.bestCheckbox {
  text-align: center;
}
#noMatches {
  color: #a94442;
}
#loading {
  text-align: center;
  color: #ddd;
  margin-top: 60px;
  display: none;
}